<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>387963460511-fgek0avq0rf28rfrn5chf31km6r6buqh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.387963460511-fgek0avq0rf28rfrn5chf31km6r6buqh</string>
	<key>API_KEY</key>
	<string>AIzaSyDiO6XwQli0rX6gWerddhIhRIM4cq0coY0</string>
	<key>GCM_SENDER_ID</key>
	<string>387963460511</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.hotelbook</string>
	<key>PROJECT_ID</key>
	<string>hotel-book-d3ed1</string>
	<key>STORAGE_BUCKET</key>
	<string>hotel-book-d3ed1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:387963460511:ios:b755b3861ba323cec07baa</string>
</dict>
</plist>